@import "../../styles/common";

.react-autosuggest__suggestions-container {
    min-width: 90%;
    position: absolute;
    top: 50px;
    z-index: 4;
    max-height: 140px;
    overflow: auto;
    background: $footer-container;
    box-shadow: 2px 2px 4px 0 $box-shadow-color;
    -webkit-box-shadow: 2px 2px 4px 0 $box-shadow-color;
    
    @include respond-to(sm) {
        min-width: 95%;
        max-height: 120px;
        top: 45px;
    }
    
    @include respond-to(xs) {
        min-width: 98%;
        max-height: 100px;
        top: 40px;
    }
}

.react-autosuggest__suggestions-list {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0px;
}

.react-autosuggest__suggestion {
    padding: 0 5px;
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid $border;
    
    @include respond-to(sm) {
        height: 26px;
        line-height: 26px;
        padding: 0 8px;
    }
    
    @include respond-to(xs) {
        height: 24px;
        line-height: 24px;
        padding: 0 6px;
        font-size: 14px;
    }
    
    &:hover {
        cursor: pointer;
        background-color: darken($footer-container, 5);
    }
}

.react-autosuggest__suggestion--highlighted {
    background-color: darken($footer-container, 5);
}

// Additional responsive styles
@include respond-to(sm) {
    .react-autosuggest__suggestions-container {
        font-size: 14px;
    }
}

@include respond-to(xs) {
    .react-autosuggest__suggestions-container {
        font-size: 13px;
        border-radius: 4px;
    }
}