.modal-booking-container {
  .modal-booking-content {
    padding: 15px;
    .modal-booking-header {
      border-radius: 5px;
      background-color: rgb(0, 149, 255);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #c6c5c5;
      color: white;
      .left {
        font-size: 30px;
      }
      .right {
        font-size: 20px;
        float: right;
        cursor: pointer;
      }
    }

    .modal-booking-body {
      padding: 15px;
      .doctor-info {
      }
      .price-examination {
        font-size: weight;
      }
      .content-form {
      }
    }
    .modal-booking-footer {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      padding: 10px;
      .btn-booking-confirm {
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 7px;

        &:hover {
          background-color: #45a049;
        }
      }
      .btn-booking-cancel {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 7px;

        &:hover {
          background-color: #e53935;
        }
      }
    }
  }
}
