.manage-schedule-container {
  padding: 0 5%;

  .manage-schedule-title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
  }
  .more-infor {
    width: 100%;
    display: flex;
  }
}
