.manage-schedule-container{
    padding: 0 5%;
    .manage-schedule-title{
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        padding: 20px;
    }
    .more-infor{
        width: 100%;
        display: flex;
       
        .content-left{
            width: 50%;
            padding-right: 30px;
        }
        .content-right{
            width: 50%;
        }
    }
    
    .pick-hour-container{
        margin: 30px 0px;
        display: flex;
        gap: 15px;
        justify-content: center;
        .btn-schedule{
            border: 1px solid gray;
            padding: 0px 5px;
            &:hover, &.active{
                background-color: red;
                color: white;
                opacity: 0.9;
            }
        }
        
    }
    .btn-save-schedule{
        background-color: rgb(45, 31, 230);
        border: none;
        color: white;
        font-weight: 600;
        padding: 8px;
        display: flex;
        margin: auto;
        margin-bottom: 20px;
        &:hover{
            opacity: 0.9;
        }
        border-radius: 10px;
    }
}