.manage-specialty-container {
  padding: 0 15px;
  .ms-title {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
  }
  .add-new-specialty {
    .btn-edit-specialty {
      background-color: rgb(219, 125, 10);
      border: none;
      color: white;
      font-weight: 600;
      padding: 8px;
      display: flex;
      margin: auto;
      margin-bottom: 20px;
      &:hover {
        opacity: 0.9;
      }
    }
    .btn-save-specialty {
      background-color: rgb(45, 31, 230);
      border: none;
      color: white;
      font-weight: 600;
      padding: 8px;
      display: flex;
      margin: auto;
      margin-bottom: 20px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .all-specialty {
  }
}
