.detail-specialty-container {
  .description-specialty {
    background-color: white !important;
    padding: 15px;
    margin: 15px 0;
    h1,
    h2,
    h3 {
      font-size: 25px;
      font-weight: 600;
      color: #45c3d2;
    }
  }
  .search-sp-doctor {
    .search-sp-doctor-select {
      height: 40px;
      padding: 0 10px;
      border-radius: 7px;
      border: 1px solid #45c3d2;
      outline: none;
      font-size: 16px;
      color: #d49f00;
    }
  }
  .detail-specialty-body {
    padding: 0 100px;
    background: #eee;
    display: flex;
    flex-direction: column;
  }
  .each-doctor {
    display: flex;
    width: 100%;
    min-height: 300px;
    margin: 15px 0;
    padding: 10px;

    background-color: #fff;
    box-shadow: 0 1px 6px #20212447;
    border-radius: 8px;
    .dt-content-left {
      width: 50%;
      border-right: 1px solid #ddd;
      padding: 10px 15px;
    }
    .dt-content-right {
      width: 50%;
      padding: 10px;

      .doctor-schedule {
        .doctor-schedule-container {
          border-right: unset !important;
        }
      }
      .doctor-extra-infor {
        border-top: 1px solid #ddd;
        margin-top: 10px;
        padding-top: 10px;
        .doctor-extra-infor-container {
          padding-left: 0 !important;
        }
      }
    }
  }
}
