@import "../../../styles/common.scss";
.schedule-container {
  border-right: 1px solid #ddd;

  height: auto;

  @include respond-to(sm) {
    border-right: none;
  }

  @include respond-to(xs) {
    border-right: none;
  }
  .all-schedule {
    select {
      border-bottom: 1px solid #ddd;
      border-top: none;
      border-right: none;
      border-left: none;
      cursor: pointer;
      outline: none;
      padding: 10px 0;
      color: #337ab7;
      font-weight: 600;
      option {
        cursor: pointer;
      }
    }
    width: 30%;
  }
  .all-available-time {
    margin: 20px 0px;
    .text-calendar {
      margin: 10px 0px;
      color: #333;
      span {
        text-transform: uppercase;
        margin-left: 5px;
      }
      i {
        font-size: 18px;
      }
      span {
        font-size: 18px;
      }
    }
    .time-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      button {
        padding: 8px 8px;
        border: none;
        outline: none;
        background-color: #fff04b;
        min-width: 120px;
        border-radius: 3px;
        font-weight: 600;
        color: #333;
        &:hover {
          background-color: #45c3d2;
          color: white;
        }
      }
      .btn-en {
        min-width: 110px;
      }
      .btn-vie {
        min-width: 132px;
      }
      .btn-disabled {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
      }
    }
  }
}
