.doctor-infor-container {
  .intro-doctor {
    display: flex;
    .content-left {
    }
    .content-right {
      width: calc(100% - 20px);
      margin-left: 20px;
      .up {
        font-size: 22px;
        font-weight: 600;
      }
      .down {
        text-align: justify;
      }
    }
  }
  .price {
    font-size: 16px;
    color: red;
    padding: 10px 0px;
  }
}
