.login-background{
    height: 100vh;
    background: linear-gradient(135deg, #22c1c3 0%, #fdbb2b 100%);

     .login-container{
        width: 400px;
        height: 60%;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        border-radius: 30px;

        .login-content{
            padding: 20px;

            .text-login{
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }
            .login-input{
                margin: 10px 0;
              
                .custom-input-password{
                    position: relative;

                    i{
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
                
            }
          
            .btn-login{
                background-color: rgb(0, 191, 255);
                width: 100%;
                border: none;
                outline: none;
                padding: 7px;
                color: white;
                border-radius: 50px;
                margin: 10px 0;
            }
            .forget-password{
                font-size: 12px;
            }
            .social-login{
                display: flex;
                align-items: center;
                justify-content: center;

                .google{
                    font-size: 18px;
                    color: white;
                    background: rgb(255, 42, 0);
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                }
                .facebook{
                    font-size: 18px;
                    color: white;
                    background: rgb(0, 128, 255);
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
            }
        }
     }
}