@import "../../styles/common.scss";
.slick-prev {
  margin-left: -15px !important;
  height: 40px !important;
  width: 44px !important;
  border-radius: 10px;
  border: 1px solid aqua;
  outline: none;
  position: absolute;
  z-index: 1;
  top: 50%; /* Đặt nút giữa theo chiều dọc */
  transform: translateY(-50%); /* Chỉnh lại vị trí giữa theo chiều dọc */
  background-color: white;
}
.slick-next {
  height: 40px !important;
  width: 44px !important;
  border-radius: 10px;
  border: 1px solid aqua;
  outline: none;
  position: absolute;
  top: 50%; /* Đặt nút giữa theo chiều dọc */
  transform: translateY(-50%); /* Chỉnh lại vị trí giữa theo chiều dọc */
  margin-right: -20px !important; /* Đặt vị trí của nút next ở bên phải */
  background-color: white;
}

@include respond-to(md) {
  .slick-prev {
    display: none !important; /* Ẩn nút trước */
  }
  .slick-next {
    display: none !important; /* Ẩn nút tiếp theo */
  }
}

@include respond-to(sm) {
  .slick-prev {
    display: none !important; /* Ẩn nút trước */
  }
  .slick-next {
    display: none !important; /* Ẩn nút tiếp theo */
  }
}
@include respond-to(xs) {
  .slick-prev {
    display: none !important; /* Ẩn nút trước */
  }
  .slick-next {
    display: none !important; /* Ẩn nút tiếp theo */
  }
}
.slick-slide {
  padding: 0px 15px 30px 15px;
}
.slick-disable {
  display: none !important;
}

.section-share {
  // margin: 200px 0px;
  padding: 0px 10%;
  @include respond-to(xs) {
    padding: 0px 2%;
  }
  @include respond-to(sm) {
    padding: 0px 5%;
  }
  @include respond-to(md) {
    padding: 0px 5%;
  }
  // margin: 100px 0px;
  &.section-background {
    width: 100%; /* Đảm bảo phần tử bao phủ hết chiều rộng của trình duyệt */
    background-image: url("../../assets/images/140311-background5.png");
    background-position: le;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section-content {
    .section-header {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 100px 0px 30px 0px;
      padding-top: 40px;

      .title-section {
        font-size: 22px;
        font-weight: 550;
        text-align: center;
      }
      .btn-section {
        padding: 10px 15px;
        background-color: #daf3f6;
        font-size: 17px;
        font-weight: 550;
        border-radius: 15px;
        border: none;
        color: #4099a4;
      }
      @include respond-to(xs) {
        .title-section {
          font-size: 17px !important;
        }
        .btn-section {
          font-size: 15px !important;
        }
      }
      @include respond-to(sm) {
        .title-section {
          font-size: 17px !important;
        }
        .btn-section {
          font-size: 15px !important;
        }
      }
      @include respond-to(md) {
        .title-section {
          font-size: 17px !important;
        }
        .btn-section {
          font-size: 15px !important;
        }
      }
    }
    .section-body {
      width: auto;
      @include respond-to(xs) {
        flex-direction: column;
      }
      @include respond-to(sm) {
        flex-direction: column;
      }
      @include respond-to(md) {
        flex-direction: column;
      }

      .section-customize {
        height: 300px;
        // margin: 100px 0px;
        padding: 20px 0px;
        @include respond-to(xs) {
          height: 200px;
          width: 100%;
          padding: 10px 0;
        }
        @include respond-to(sm) {
          height: 200px;
          width: 100%;
          padding: 10px 0;
        }
        @include respond-to(md) {
          height: 200px;
          width: 100%;
          padding: 10px 0;
        }

        &.customize-outstanding-doctor {
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          align-items: center !important;
          cursor: pointer;
          @include respond-to(xs) {
            padding: 6px 0 10px 0;
            height: auto;
          }
          @include respond-to(sm) {
            padding: 6px 0 10px 0;
            height: auto;
          }
          @include respond-to(md) {
            padding: 6px 0 10px 0;
            height: auto;
          }
        }
        &.customize-specialty {
          border: 1px solid #cae3e6;
          border-radius: 20px;
          background-color: #fffefc !important;
          @include respond-to(xs) {
            margin: 0 auto;
          }

          @include respond-to(sm) {
            margin: 0 auto;
          }
          @include respond-to(md) {
            margin: 0 auto;
          }
        }
        &.customize-medical-facility {
          border: 1px solid #cae3e6;
          border-radius: 20px;
          @include respond-to(xs) {
            margin: 0 auto;
          }
          @include respond-to(sm) {
            margin: 0 auto;
          }
          @include respond-to(md) {
            margin: 0 auto;
          }
        }
        .bg-image {
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: contain !important;
          @include respond-to(md) {
            background-size: contain !important;
          }
          @include respond-to(sm) {
            background-size: contain !important;
          }

          @include respond-to(xs) {
            background-size: contain !important;
          }

          &.section-specialty {
            background: url("../../assets/images/101713-tim-mach.png");
            height: 137px;
            border-radius: 25px;
          }
          &.section-medical-facility {
            background: url("../../assets/images/152704logo-bvcr-moi.jpg");
            height: 180px;
          }
          &.section-outstanding-doctor {
            width: 168px;
            height: 168px;
            background: url("../../assets/images/103447-bs-hong-anh.jpg");
            border-radius: 50%;
          }
          @include respond-to(xs) {
            &.section-outstanding-doctor {
              height: 120px !important;
              width: 120px !important;
            }
          }
          @include respond-to(sm) {
            &.section-outstanding-doctor {
              height: 120px !important;
              width: 120px !important;
            }
          }
          @include respond-to(md) {
            &.section-outstanding-doctor {
              height: 120px !important;
              width: 120px !important;
            }
          }
          &.section-handlebook {
            background: url("../../assets/images/HandBook/144434-dia-chi-kham-chua-benh-cong-veo-cot-song-tre-em.png");
            width: 278px;
            height: 180px;
            background-size: contain !important;
          }
        }

        .title-section {
          font-weight: 550;
          text-align: center;
          font-size: 17px;
          padding: 20px 0px;
          @include respond-to(xs) {
            font-size: 15px !important;
          }
          @include respond-to(sm) {
            font-size: 15px !important;
          }
          @include respond-to(md) {
            font-size: 15px !important;
          }
        }
      }
    }
  }
}
.section-about {
  .section-about-content {
    margin: 50px 0px;
    .section-header {
      font-weight: 600;
      font-size: 22px;
      text-align: center;
      padding: 25px 0px;
    }
    .section-body {
      display: flex;
      padding-bottom: 40px;
      @include respond-to(xs) {
        flex-direction: column;
      }
      @include respond-to(sm) {
        flex-direction: column;
      }
      @include respond-to(md) {
        flex-direction: column;
      }

      .content-left {
        width: 50%;
        @include respond-to(xs) {
          width: 100%;
        }
        @include respond-to(sm) {
          width: 100%;
        }
        @include respond-to(md) {
          width: 100%;
        }

        .video-wrapper {
          position: relative;
          width: 100%;
          padding-bottom: 56.25%; // tỉ lệ 16:9 (9/16 = 0.5625)
          height: 0;
          overflow: hidden;
          border-radius: 10px;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
      }
      .content-right {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0 20px;

        @include respond-to(md) {
          width: 100%;
        }

        .image-container {
          flex: 1 1 calc(50% - 20px); // 2 cột, trừ gap
          background-color: white;
          padding: 5px 20px;
          height: 120px;
          display: flex;
          justify-content: center;
          border-radius: 10px;
          margin-top: 20px;

          @include respond-to(xs) {
            flex: 1 1 100%; // 1 cột khi màn nhỏ
            max-width: none;
            margin-top: 20px;
          }
          @include respond-to(sm) {
            flex: 1 1 100%; // 1 cột khi màn nhỏ
            max-width: none;
            margin-top: 20px;
          }
          @include respond-from(md) {
            justify-content: center !important;
          }

          .image-about {
            width: 100%;
            height: 120px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
.icon-hover:hover {
  color: black; /* đổi màu khi hover */
  transform: scale(1.2); /* phóng to nhẹ */
  //   transition: all 0.2s ease;
}
